html,
body {
    height: 80vh;
}

body {
    background-color: rgb(24, 151, 79);
    font-size: 14px;
}

h1,
h2,
h3 {
    color: rgb(123, 35, 126);
    background-color: rgb(20, 230, 111);
}

p {
    font-family: "Helvetica", sans-serif;
}

p,
ul,
ol {
    color: white;
}

.rabbits-info-heading {
    background-color: rgb(20, 230, 111);
}

.rabbits-info {
    font-weight: 600;
}

.song-lyrics {
    background-color: rgb(2, 136, 60);
    font: italic 14px fantasy;
}


.imgcoelho {
    margin-left: 10px;
    border-radius: 40%;
    width: 400px;
}