body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  background-color: gray;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-top: 100px;
  width: 500px;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 120px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.856);
}